<!DOCTYPE html>
<head>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="js/jquery.tablesorter.widgets.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="css/theme.bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <title>Debian Diaspora packaging status</title>
  <script>
  $(function(){
    $.extend($.tablesorter.themes.bootstrap, {
      table      : 'table table-bordered',
      header     : 'bootstrap-header',
      sortNone   : 'bootstrap-icon-unsorted',
      sortAsc    : 'icon-chevron-up',
      sortDesc   : 'icon-chevron-down',
    });

    $('table').tablesorter({
      theme : "bootstrap",
      headerTemplate : '{content} {icon}',
      widgets : [ "uitheme" ],
      usNumberFormat : false,
      sortReset      : true,
      sortRestart    : true
    });
  });
  </script>
</head>
<body class="container">
  <h1>Debian Diaspora Packaging Status</h1>
  <hr/>
  <div class="row header">
    <div class="wrapper clearfix">
      <div class="span1">
        Total <h2>{{total}}<h2>
      </div>
      <div class="span1">
        Packaged <h2>{{gem_done}}<h2>
      </div>
      <div class="span1">
        ITP <h2>{{gem_itp}}</h2>
      </div>
      <div class="span1">
        Todo <h2>{{gem_not_done}}</h2>
      </div>
      <div class="span1">
        Status <h2>{{percent_complete}}%</h2>
      </div>
    </div>

    <div class="progress progress-striped">
      <div class="bar bar-success" style="width: {{gem_done*100/total}}%;"></div>
      <div class="bar bar-warning" style="width: {{gem_itp*100/total}}%"></div>
      <div class="bar bar-danger" style="width: {{gem_not_done*100/total}}%;"></div>
    </div>
  </div>
  <div class="row well">
    <table class="table table-bordered tablesorter">
      <thead>
        <tr>
          <th>Gem</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for gem, status in gem_status.items() %}
        <tr class="{{ status[1] }}">
          <td>{{ gem }}</td>
          <td>{{ status[0] }}</td>
      {% endfor %}
    </table>
  </div>
</body>
